@using Gymbuddy.Infrastructure
@using Gymbuddy.ViewModels
@model EditAccViewModel
@*@{
    GymDB db = new GymDB();
    var role = db.Roles.ToList();
}*@
<form asp-action="EditAcc" asp-controller="Administration" method="post">
    
        <input type="hidden" name="id" class="form-control" value="@Model.Id"/>
   
    <div class="col-md-2">
        <input type="text" name="Name" class="form-control" value="@Model.Name" />
    </div>
    <div class="col-md-2">
        <input type="text" name="Username" class="form-control" value="@Model.Username"/>
    </div>
    <div class="col-md-2">
        <input type="number" name="Age" class="form-control" value="@Model.Age"/>
    </div>
    <div class="col-md-2">
        <input type="text" name="Password" class="form-control" value="@Model.password"/>
    </div>
    <div class="col-md-2">
        <input type="email" name="Email" class="form-control" value="@Model.email"/>
    </div>
    @{
        int i = 0;
    }
    @foreach(var obj in Model.UserRoles){
    foreach(var item in Model.Roles){
   <div class="col-md-2">
        <input type="hidden" asp-for="@Model.RoleId" name="[@i].RoleId"/>
        <input asp-for="@Model.Selected" name="[@i].Selected" class="form-check-input" onclick="$(this).val(this.checked ? true : false)"/>
       <label asp-for="@Model.Selected">@item.Name</label>
            </div>
            i++;
        }
    }
 
    <button type="submit" >Submit</button>
</form>