@using Gymbuddy.Core.Entities
@using Gymbuddy.Infrastructure
@using Gymbuddy.ViewModels
@model IEnumerable<User>
 <table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Age</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var mod in Model)
      {
        <tr>
            <td>@mod.Name</td>
            <td>@mod.username</td>
            <td>@mod.age</td>
                <td>
                    @foreach(var item in @mod.UserRoles)
                        {

                        
                        <span>@item.Role.Name</span>
                    
                    }

           </td>
           <td><a class="btn btn-primary" asp-action="EditAcc" asp-controller="Administration" asp-route-id="@mod.Id">Edit</a></td>
           <td><a class="btn btn-danger" asp-action="DeleteAcc" asp-controller="Administration" asp-route-id="@mod.Id">Delete</a></td>
            
        </tr>
      }
    </tbody>
   </table>
