@using GymBuddy.Infrastructure.UnitOfWork
@using GymBuddy.Infrastructure.Utilities
@using Gymbuddy.Core.Entities
@using Gymbuddy.Infrastructure
@using Gymbuddy.ViewModels
@using Newtonsoft.Json
@model ProfileViewModel
@inject UserManager _userManager
 <style>
    #form1{
        border:solid 3px grey;
        border-radius:5px;
        background-color:grey;
            }
    #post1{
        width:50%;
        height:50%;
        border:solid 3px grey;
        margin-bottom:3px;
        border-radius:5px;
        background-color:grey;
    }
   
    #post2{
        background-color:#AFAFAF;
    }
    img{
        width:50%;
        height:50%;
        margin-left:5px;
    }
    p{
        margin-left:5px;
    }
        *{
        box-sizing:border-box;
        margin:0;
        padding:0;
    }
    #postbtn{
        color:black;
        text-decoration:none;
        border:none;
        background-color:rgb(255,255,255);
        padding:0.2em 0.5em;
        margin-top:3px;
    }
    #postbtn:hover{
        background-color:rgb(255,255,255,0.8);
    }
  
    #postimg{
        height:100%;
        width:100%;
    }
    #comments{
        display:flex;
        flex-direction:column;
        justify-content:center;
        margin:5px;
        border-radius:0.5em;
    }
     #likebtn{
        border:none;
        background-color:white;
        margin-left:5px;
        padding:5px 15px;
    }
    #change{
        cursor:pointer;
    }

  
  #myModal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  #modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
        animation-name: zoom;
        animation-duration: 0.6s;
}
keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
color: #bbb;
text-decoration: none;
cursor: pointer;
}
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(255,255,255,0.5); /* Black w/ opacity */
}
#container2{
    display:flex;
    background-color:rgba(255,255,255,0.1);
    margin-bottom:10px;
    height:400px;
    width:80%;
    margin-left:10%;
}
#userPhoto{
    width:200px;
    height:200px;
    border: 1px solid #2ecc71;
    border-radius:50%;

}
#userInfo{
    flex:1;
    display:flex;
    flex-direction:column;
    align-items:center;
    width:auto;
    padding-top:30px;
}
#info{
    flex:2;
    font-size:26px;
    font-weight:500;
    padding-top:20px;
}

#h2{
    color:black;
}
.span{
    padding-right:30px;
}
#myBtn{
    border:none;
    background-color:lightblue;
    padding: 10px 5px;
    border-radius:0.5rem;
}
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
        .modal-content {
      background-color: inherit;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
    }
        </style>
@*<a asp-action="AddCountry" asp-controller="Profile">Add Country</a>
*@

<div id="container2">
    <section id="userInfo">
        <img src="@Model.User.ProfilePhoto" id="userPhoto" />
        <h2 id="h2">@Model.User.FirstName @Model.User.LastName</h2>
        <button id="myBtn">Change Photo</button>
    </section>
    <section id="info">
        <span class="span">Posts:</span>
        <span class="span">Followers:</span>
        <span class="span">Following:</span>
    </section>


    <div id="changephoto" class="modal" >
        <div class="modal-content">
        <span class="close">&times;</span>
    <form asp-action="ChangePhoto" asp-controller="Profile" method="post" enctype="multipart/form-data" id="modal-content">
        <div class="col-md-2">
       <label hidden asp-for="User.ProfilePhoto"></label>
        <input type="file" name="file" id="pickPhoto" />
        </div>
        <button type="submit" class="btn btn-primary" style="margin:10px">Submit</button>
    </form>
        </div>
</div>
</div>



<div class="h-100 w-75 mx-auto d-block">
  <div class="d-flex flex-column align-items-center">
       @foreach(var post in Model.Posts)
       {
            if(Model.User.Id == post.UserId)
            {
            <div id="post1" class="mt-3 mb-3 ms-lg-2 w-50 h-50 shadow-lg" style="height:600px;width:500px">
            <div id="post2">
                <h3 class="ms-lg-2 d-inline">@post.User.FirstName @post.User.LastName</h3>
                @{
                    var user = _userManager.Get();
                   
                           <div class="btn-group dropstart float-end">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                   
                           </button>
                        <ul class="dropdown-menu" aria-labelledby="#dropdownMenuButton">
                                @if (user.Id == post.UserId)
                    {
                                   <li > 
                                      <a class="dropdown-item" asp-action="DeletePost" asp-controller="Home" asp-route-id="@post.Id" >Delete </a>
                                   </li>
                    }
                         </ul>
                           </div>
                    
                }
                <hr class="text-black">
                <p class="ms-lg-2">@post.Description</p>
                
            </div>
            <div >
              <img src="@post.ImageUrl"class="rounded mx-auto d-block" id="postimg">
            </div>
            <hr class="text-black">
            <div>
                <button id="likebtn"><i class="fa-regular fa-thumbs-up"></i> Like</button>
            </div>
            <hr class="text-black">
            @foreach(var item in Model.Comments){
                @if(item.Id != null){
             <div class="bg-white" id="comments">
                        <h6 style="margin:3px">@item.User.FirstName @item.User.LastName</h6>
                        <span style="margin:3px">@item.Description</span>
             </div>
           }
            }
                
                <form asp-action="Comment" asp-controller="Home" asp-route-id="@post.Id" method="post">
            <div>
                        
                <textarea asp-for="Comment.Description" placeholder="Comment something.." class="form-control d-inline"></textarea>
                <button type="submit"class="btn btn-dark d-inline">Submit</button>
            </div>
            </form>
        </div>
            }
        }
    
  </div>
</div>
@section Scripts{
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        var change = document.getElementById("myBtn");
        $("#myBtn").click(function(){
            var div = document.getElementById("changephoto");
            div.style.display = "block";
        })
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function () {
            var div = document.getElementById("changephoto");
            div.style.display = "none";
        }
    </script>
}