@using GymBuddy.Infrastructure.UnitOfWork
@using GymBuddy.Infrastructure.Utilities
@using Gymbuddy.Core.Entities
@using Gymbuddy.Infrastructure
@using Gymbuddy.ViewModels
@using Newtonsoft.Json
@model ProfileViewModel
@inject UserManager _userManager
 <style>
    #form1{
        border:solid 3px grey;
        border-radius:5px;
        background-color:grey;
            }
    #post1{
        width:50%;
        height:50%;
        border:solid 3px grey;
        margin-bottom:3px;
        border-radius:5px;
        background-color:grey;
    }
   
    #post2{
        background-color:#AFAFAF;
    }
    img{
        width:50%;
        height:50%;
        margin-left:5px;
    }
    p{
        margin-left:5px;
    }
        *{
        box-sizing:border-box;
        margin:0;
        padding:0;
    }
    #postbtn{
        color:black;
        text-decoration:none;
        border:none;
        background-color:rgb(255,255,255);
        padding:0.2em 0.5em;
        margin-top:3px;
    }
    #postbtn:hover{
        background-color:rgb(255,255,255,0.8);
    }
  
    #postimg{
        height:100%;
        width:100%;
    }
    #comments{
        display:flex;
        flex-direction:column;
        justify-content:center;
        margin:5px;
        border-radius:0.5em;
    }
  
        </style>
@*<a asp-action="AddCountry" asp-controller="Profile">Add Country</a>
*@
<section class="vh-50 align-items-center d-inline-block" style="width:20%" >
  <div class="container py-5 h-100">
    <div class="row d-flex ">
        <div class="card w-100" style="border-radius: 15px; ">
          <div class="card-body p-4">
            <div class="d-flex text-black">
              
                <div class="">
                    @if(Model.User.ProfilePhoto != null){
                  <img src="@Model.User.ProfilePhoto"  class=" rounded mx-auto d-block" style="margin-bottom:5px"/>
                     }
                  <div class="text-center">
                <h5 class="mb-1 "><b>@Model.User.Name</b></h5>
                <p class="mb-1">Username:@Model.User.Username</p>
                <p class="mb-1">Age:@Model.User.Age</p>
                <p class="mb-1">Email:@Model.User.Email</p>
               @*@if(@Model.CountryName != null){
                <p class="mb-1">Country:@Model.CountryName</p>
                }*@
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="h-100 w-75 mx-auto d-block">
  <div class="d-flex flex-column align-items-center">
       @foreach(var post in Model.Posts)
       {
            if(Model.User.Id == post.UserId)
            {
            <div id="post1" class="mt-3 mb-3 ms-lg-2 w-50 h-50 shadow-lg" style="height:600px;width:500px">
            <div id="post2">
                <h3 class="ms-lg-2 d-inline">@post.User.Name</h3>
                @{
                    var user = _userManager.Get();
                   
                       <div class="btn-group dropstart float-end">
                              <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                                     
                              </button>
                           <ul class="dropdown-menu" aria-labelledby="#dropdownMenuButton">
                           @if (user.Id == post.UserId)
                    {
                                 <li > 
                                     <a class="dropdown-item" asp-action="DeletePost" asp-controller="Home" asp-route-id="@post.Id" >Delete </a>
                                </li>
                    }
                           </ul>
                       </div>
                    
                }
                <hr class="text-black">
                <p class="ms-lg-2">@post.Description</p>
                
            </div>
            <div >
              <img src="@post.ImageUrl"class="rounded mx-auto d-block" id="postimg">
            </div>
            <hr class="text-black">
            
            @foreach(var item in Model.Comments){
                @if(item.Id != null){
             <div class="bg-white" id="comments">
                        <h6 style="margin:3px">@item.User.Name</h6>
                        <span style="margin:3px">@item.Description</span>
             </div>
           }
            }
                
                <form asp-action="Comment" asp-controller="Home" asp-route-id="@post.Id" method="post">
            <div>
                        
                <textarea asp-for="Comment.Description" placeholder="Comment something.." class="form-control d-inline"></textarea>
                <button type="submit"class="btn btn-dark d-inline">Submit</button>
            </div>
            </form>
        </div>
            }
        }
    
  </div>
</div>