@using GymBuddy.Infrastructure.Utilities
@using Gymbuddy.Core.Entities
@using Gymbuddy.ViewModels
@model List<CompetingUser>
@inject UserManager _userManager
<style>
#tablet{
    border:2px solid #303030 ;
    margin-top:10px;
}
th,td{
    color:white;
}

</style>
@if(_userManager.isSignedIn() == true)
{
    <a class="btn btn-dark" style="margin-top:10px"asp-action="CompetitionSignUp" asp-controller="Competition">Sign Up</a>
}
@if(TempData["fail"] != null)
{
    <p>>@TempData["fail"]</p>
}
<table id="tablet" class="table table-hover">
    <thead>
        <tr >
            <th>#</th>
            <th>Username</th>
            <th><a asp-action="SortBench" asp-controller="Competition" style="text-decoration:none;">Bench</a></th>
            <th><a asp-action="SortDeadlift" asp-controller="Competition" style="text-decoration:none;">Deadlift</a></th>
            <th><a asp-action="SortSquat" asp-controller="Competition" style="text-decoration:none;">Squat</a></th>
            <th><a asp-action="SortTotal" asp-controller="Competition" style="text-decoration:none;">Total</a></th>
        </tr>
        <tbody>
             
                @foreach(var user in Model)
                {<tr>
                  <td></td>
                  <td><a asp-action="Details" asp-controller="Home" asp-route-id="@user.UserId">@user.username</a></td>
                  <td>@user.bench</td>
                  <td>@user.deadlift</td>
                  <td>@user.squat</td>
                  <td>@user.total</td>
                </tr>
                }
            
        </tbody>
   </thead>
</table>