@using GymBuddy.Core.Entities
@using Gymbuddy.ViewModels
@model ChatViewModel
<style>
    #chatBox{
        width:500px;
        height:600px;
        margin:auto;
        overflow:hidden;
        overflow-y:scroll;
        margin-top:80px;
        border:7px solid lightgreen;
        border-radius:0.7rem;
        box-shadow: 3px 3px 3px lightgreen;
    }
    ul{
        display:flex;
        flex-direction:column;

    }
    li{
        list-style:none;
        float:left;
    }
    img{
        margin-right:5px;
        width:40px;
        height:40px;
        border-radius:50%;
        border:1px solid lightgreen;
    }
    #message{
        display:flex;
        flex-direction:row;
        align-items:center;
        width:90%;
        height:70px;
        background-color:lightgrey;
        margin-bottom:5px;
        border-radius:0.5em;
        border:1px solid grey;
    }
    #message p{
        width:max-content;
        background-color:lightgreen;
        margin-left:5px;
        padding:3px 7px;
        margin-top:5px;
        border-radius:0.5em;
    }
    .rowd{
        display:flex;
        flex-direction:row;
    }
    #messageInput{
        width:70%;
        height:60px;
        border:1px solid lightgreen;
        border-radius:0.5em;
        background-color:lightgrey;
        margin-right:5px;
        margin-left:5px;
    }

    #messagesList{
        padding-left:10px;
    }
    #messInput{
        height:100px;
        display:flex;
        flex-direction:row;
        align-items:center;
    }
    .sendToUser{
        border-radius:0.5em;
        border:1px solid lightgreen;
        color:green;
    }
     
</style>

<div class="bg-dark" id="chatBox">
    <input type="hidden" value="@Model.ReceiverId" id="receiver" />
    <div>
        <h2></h2>
    </div>
    <div class="rowd">
        <div class="col-6 w-100 pl-0">
            <ul id="messagesList">
                @if (Model.Messages != null)
                {
                    foreach (var item in Model.Messages)
                    {
                        

                        if (item != null)
                        {
                            <li><div id="message"><img src="@item.UserSender.ProfilePhoto"><p>@item.Message</p></div></li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
  

        <div id="messInput">
           <input type="text" id="messageInput" />
            <input type="hidden" id="receiverId" value="@Model.ConnectionId" />
            <div class="btns">
                <button class="sendToUser">
                    <i class="fa fa-paper-plane-o fa-2x send2" aria-hidden="true"></i>
                </button>

            </div>
        
        </div>
        
  </div>

<script src="~/js/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

@section Scripts{
    <script>
        $(".sendToUser").click(function (e) {
            var message = document.getElementById("messageInput").value;
            let receiver = document.getElementById("receiver").value;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Message","Chat")',
                dataType: "json",
                data: {
                    Message: message,
                    Receiver: receiver
                },
                success: function (result) {
                    connection.invoke("SendToUser", result.value.connectionId, message).then(function () {
                    }).catch(function (err) {
                        return console.error(err.toString());
                    });
                    $("#messagesList").append("<div id='message'><img src='"+ result.value.user.profilePhoto +"'><p>"+ message +"</p></div>");
                },
                error: function (req, status, error) {
                    console.log("there is error");
                }
            })

        });

        var box = document.getElementById("chatBox");
        box.scrollTop = box.scrollHeight;
    </script>
}